{
  "presets": [
    "flow",
    ["airbnb", {
      "targets": {
        "chrome": 50,
        "explorer": 11,
        "firefox": 45
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ]
}
